@import url('https://fonts.googleapis.com');
@import url('https://fonts.gstatic.com');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
	--header: #112A46;
	--background: #F6FFF8;
	--footer: #2A3439;
	--h1-color: #012A4A;
	--h2-color: #6A040F;
	--para-color: #0C1821;
	--nav-link-color: #fff;
	--nav-link-active-color: #FFD60A;
	--nav-link-hover-color: #FDF0D5;
	--link-hover-color: #FFD60A;
	--border-color: #555555
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	overflow-x: hidden;
	font-family: 'Exo', sans-serif;
	/* Doesn't work on Safari */
	scroll-behavior: smooth;
	max-width: 1920px;
	margin: 0 auto;
	background: var(--background);
}

body main {
	padding: 0 24px;
	margin-top: 72px;
}

/* **** Header Section **** */
.header {
	background: var(--header);
	max-height: 80px;
	border-bottom: 1px solid var(--border-color);
	padding: 16px 24px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.header .header-wrapper {
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.header .header-wrapper .logo {
	max-height: 40px;
	width: auto;
}

/* **** Footer Section **** */
.footer {
	background: var(--footer);
	padding: 16px 24px;
	color: #fff;
	position: sticky;
	bottom: 0;
	left: 0;
	width: 100%;
}

.footer p {
	font-size: 12px;
	text-align: center;
}

/* **** Navigation **** */
.header .header-wrapper ul {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 64px;
}

.header .header-wrapper ul li a.active-link {
	color: var(--nav-link-active-color);
}

.header .header-wrapper ul a:link,
.header .header-wrapper ul a:visited {
	display: inline-block;
	text-decoration: none;
	color: var(--nav-link-color);
	font-weight: 700;
	font-size: 24px;
	transition: all 0.3s;
}

.header .header-wrapper ul a:hover {
	color: var(--nav-link-hover-color);
}

.header .header-wrapper ul a:active {
	color: var(--nav-link-active-color);
}

/* **** Hero Section **** */
.section-hero {
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 80px 0;
	min-height: 87.5vh;
}

.section-hero .text-container {
	width: 50%;
	padding: 16px;
}

.section-hero .text-container h1 {
	font-size: 64px;
	font-weight: 700;
	color: var(--h1-color);
	margin-bottom: 32px;
}

.section-hero .text-container p {
	font-size: 24px;
	font-weight: 400;
	line-height: 125%;
	color: var(--para-color);
	margin-bottom: 24px;
}

.section-hero .text-container p span {
	font-weight: 500;
	color: #D62828;
}

.section-hero .text-container p:last-child {
	margin-bottom: 0;
}

.section-hero .image-container {
	width: 50%;
	padding: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.section-hero .image-container img {
	height: auto;
	width: 100%;
	max-width: 560px;
	margin: 0 auto;
}

/* **** Recipes Section **** */
.recipes-container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 32px 0;
	min-height: 87.5vh;
}

.recipes-container h1 {
	font-size: 56px;
	font-weight: 700;
	color: var(--h1-color);
	text-align: center;
}

.recipes-container .recipes-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 48px 32px;
	gap: 5%;
}

.recipes-container .recipes-wrapper .recipes-item {
	max-width: 320px;
	margin-bottom: 48px;
}

.recipes-container .recipes-wrapper .recipes-item a {
	text-decoration: none;
}

.recipes-container .recipes-wrapper .recipes-item a:hover {
	color: var(--active);
}

.recipes-container .recipes-wrapper .recipes-item img {
	width: auto;
	max-height: 320px;
	margin-bottom: 16px;
	border: 2px solid var(--border-color);
	border-radius: 10px;
}

.recipes-container .recipes-wrapper .recipes-item h2 {
	font-size: 24px;
	text-align: center;
	color: var(--h2-color);
}

.recipes-container .recipes-wrapper .recipes-item h2:hover {
	color: var(--active);
}

.recipes-container .recipe-details-container {
	display: flex;
	flex-direction: row;
	padding: 32px 0;
}

.recipes-container .recipe-details-container .recipe-img {
	width: 50%;
	padding: 16px;
	display: flex;
}

.recipes-container .recipe-details-container .recipe-img img {
	max-height: 480px;
	width: auto;
	margin: 0 auto;
	border: 2px solid var(--border-color);
	border-radius: 10px;
}

.recipes-container .recipe-details-container .recipe-detail {
	width: 50%;
	padding: 16px;
}

.recipes-container .recipe-details-container .recipe-detail .recipe-ingredients {
	margin-bottom: 32px;
}

.recipes-container .recipe-details-container .recipe-detail .recipe-ingredients h2,
.recipes-container .recipe-details-container .recipe-detail .recipe-instructions h2 {
	font-size: 32px;
	color: var(--h2-color);
	margin-bottom: 16px;
}

.recipes-container .recipe-details-container .recipe-detail .recipe-ingredients ul li,
.recipes-container .recipe-details-container .recipe-detail .recipe-instructions ul li {
	margin-left: 20px;
	margin-bottom: 16px;
	font-size: 18px;
	color: var(--para-color);
}

.recipes-container .recipe-details-container .recipe-detail .recipe-ingredients ul li:last-child,
.recipes-container .recipe-details-container .recipe-detail .recipe-instructions ul li:last-child {
	margin-bottom: 0;
}

@media (max-width: 1440px) {
	.section-hero .text-container h1 {
		font-size: 56px;
	}

	.section-hero .text-container p {
		font-size: 22px;
		margin-bottom: 16px;
	}

	.recipes-container h1 {
		font-size: 48px;
	}

	.recipes-container .recipe-details-container .recipe-img img {
		max-height: 400px;
	}
}

@media (max-width: 1024px) {
	.section-hero .text-container h1 {
		font-size: 48px;
	}

	.section-hero .text-container p {
		font-size: 20px;
	}

	.recipes-container h1 {
		font-size: 40px;
	}

	.recipes-container .recipe-details-container .recipe-img img {
		max-height: 320px;
	}
}

@media (max-width: 768px) {
	.header .header-wrapper ul {
		gap: 32px;
	}

	.header .header-wrapper ul a:link,
	.header .header-wrapper ul a:visited {
		font-size: 22px;
	}

	.section-hero {
		flex-direction: column;
		padding: 32px 0;
	}

	.section-hero .text-container,
	.section-hero .image-container {
		width: 100%;
	}

	.section-hero .text-container h1 {
		font-size: 40px;
	}

	.section-hero .text-container p {
		font-size: 18px;
	}

	.recipes-container .recipes-wrapper {
		flex-direction: column;
		padding: 32px 24px;
		align-items: center;
	}

	.recipes-container h1 {
		font-size: 32px;
	}

	.recipes-container .recipes-wrapper .recipes-item h2 {
		font-size: 22px;
	}

	.recipes-container .recipe-details-container {
		flex-direction: column;
		padding: 16px 0;
	}

	.recipes-container .recipe-details-container .recipe-img,
	.recipes-container .recipe-details-container .recipe-detail {
		width: 100%;
	}

	.recipes-container .recipe-details-container .recipe-detail .recipe-ingredients h2,
	.recipes-container .recipe-details-container .recipe-detail .recipe-instructions h2 {
		font-size: 24px;
	}

	.recipes-container .recipe-details-container .recipe-detail .recipe-ingredients ul li,
	.recipes-container .recipe-details-container .recipe-detail .recipe-instructions ul li {
		font-size: 16px;
	}
}

@media (max-width: 425px) {
	.header {
		padding: 16px 20px;
	}

	.header .header-wrapper ul {
		gap: 24px;
	}

	.header .header-wrapper ul a:link,
	.header .header-wrapper ul a:visited {
		font-size: 20px;
	}

	.section-hero {
		padding: 16px 0;
	}

	.section-hero .text-container {
		padding: 16px 0;
	}

	.section-hero .text-container h1 {
		font-size: 32px;
		margin-bottom: 24px;
	}

	.section-hero .text-container p {
		font-size: 16px;
	}

	.recipes-container .recipes-wrapper {
		padding: 32px 0;
	}

	.recipes-container .recipe-details-container .recipe-img img {
		height: auto;
		width: 100%;
	}

	.recipes-container .recipes-wrapper .recipes-item img {
		max-height: 256px;
	}

	.recipes-container .recipes-wrapper .recipes-item h2 {
		font-size: 20px;
	}

	.recipes-container .recipe-details-container .recipe-detail {
		padding: 16px 0;
	}
}

@media (max-width: 320px) {
	.header .header-wrapper ul {
		gap: 16px;
	}
}